<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>区域概览</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/me.css">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="/js/echarts.min.js"></script>
</head>
<body>

<!--区域概览 -->


<!-- 导航-->
<nav class=" ui inverted  attached segment">
    <div class="ui container">
        <div class="ui  inverted secondary menu m-padded-tb-mini">
            <a href="/profile" class=" ui  teal header item">智慧能源云平台</a>
            <a href="/view" class="item"> <i class="world icon"></i>平台全景</a>
            <a href="/redirect/field" class="item"><i class="map icon"></i>区域概览</a>
            <a href="/operation" class="item"><i class="home icon"></i>运维中心</a>
            <a href="#" class="item"><i class="waring icon"></i>光伏监控</a>
            <a href="#" class="item"><i class="bar chart icon"></i>数据分析</a>


            <div class="right item">
                <div class="ui inverted">
                    <a href="#" class="item"> <i class="comment icon   transparent"></i></a>
                </div>
                <div class="ui inverted">
                    <a href="#" class="item"> <i class="alarm icon  transparent"></i></a>
                </div>
                <div class="ui dropdown item">
                    <div class="text" th:if="${session.user!=null}">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image-1005" th:text="${session.user.getName()}">
                    </div>
<!--                    <div class="text" th:if="${session.githubUser!=null}">-->
<!--                        <span th:text="${session.githubUser.getName()}"> </span>-->
<!--                    </div>-->
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/logout}" class="item">注销</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</nav>


<div class="layui-row">
    <div class="layui-col-md8">
        <table class="layui-hide" id="test" lay-filter="test"></table>

        <table class="layui-hide" id="demo"></table>
        <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
        <script>
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#test'
                    , url: '/findAllField'
                    , title: '菜单列表'
                    , cols: [
                        [
                            {field: 'id', width: 100, title: '编号', sort: true}
                            , {field: 'name', width: 200, title: '单位名称'}
                            , {field: 'capacity', width: 100, title: '额定容量'}
                            , {field: 'load', width: 100, title: '额定负荷'}
                            , {field: 'electric', width: 100, title: '电量'}
                            , {field: 'time', width: 400, title: '更新时间' }

                        ]
                    ]
                    , page: true
                });

            });
        </script>
    </div>
    <div class="layui-col-md3">
        <div class="ui segments">
            <div class="ui inverted teal secondary segment">
                <div class="ui content">总负荷趋势图</div>
            </div>
            <div class="ui inverted teal divider"></div>
            <div class="ui inverted teal segment">
                <div id="line_chart" style="width: 100%;height: 170%"></div>
            </div>
            <div class="ui inverted teal divider"></div>
            <div class="ui inverted teal secondary segment">
                <div class="ui content">总电量趋势图</div>
            </div>
            <div class="ui inverted teal segment">
                <div id="bar_graph" style="width: 100%;height: 170%"></div>
            </div>
        </div>
    </div>

</div>


<!-- 折线图-->
<script>
    var myChart = echarts.init(document.getElementById('line_chart'));
    option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };
    myChart.setOption(option);

</script>

<!--柱状图-->
<script>
    var myChart = echarts.init(document.getElementById('bar_graph'));
    option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        }]
    };
    myChart.setOption(option);
</script>

<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>