<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/css/me.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

</head>
<body>

<!-- 注册界面-->

<!-- 导航-->
<nav class="ui inverted segment">
    <div class="ui container">
        <div class="ui inverted menu">
            <h2 class="ui teal header item " style="margin: auto"> 能源管理系统注册页面</h2>

        </div>
    </div>

</nav>


<div class="ui two column grid">
    <div class="ten  wide column  " style="margin-left: 100px">
        <form class="ui form " method="post" action="/register">

            <div class="required field login_css">
                <label  >用户名</label>
                <input   type="text" placeholder="请输入用户名" name="username"  th:value="${username}" >
            </div>
            <div class="required field login_css">
                <label  >密码</label>
                <input   type="password" placeholder="请输入密码" name="password"  th:value="${password}">
            </div>
            <div class="required field login_css">
                <label  >真实姓名</label>
                <input   type="text" placeholder="请输入真实姓名" name="name"  th:value="${name}" >
            </div>
            <div class="required field login_css">
                <label  >电话号码</label>
                <input   type="number"  placeholder="请输入电话号码" name="tel"  th:value="${tel}"  >
            </div>
            <div class="required field login_css">
                <label  >邮箱</label>
                <input   type="text"  placeholder="请输入正确的邮箱" name="email"  th:value="${email}"  >
            </div>
            <hr>
            <div class="ui  pointing red basic label" th:text="${error}" th:if="${error!=null}"></div>
            <button  type="submit"  class="ui green basic button" style="width: 200px;height: 40px" >点击注册</button>
        </form>
    </div>

    <div class="six wide  column">
        <img src="/images/timg.jpg" class="ui rounded image" style="width: 500px">
    </div>

</div>


</body>
</html>